@use "../scss/utilities/functions" as func;
@use "../scss/utilities/variables" as var;

.hotAssortment-section {
  padding-bottom: 80px;
  border-bottom: 1px #959595 solid;
  position: relative;
}

.hotAssortment-title {
  font-weight: func.font-weight("medium");
  font-size: func.font-sizes("lg");
  line-height: 1.54;
  font-variant: small-caps;
  margin-bottom: 31px;
}

.hotAssortment-slide{
    position: relative;
}

.hotAssortment-slide-favorite-svg{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;
}

.white-thermal-underwear {
  margin-bottom: 15px;
}
.assortment-title {
  font-weight: func.font-weight("medium");
  font-size: func.font-sizes("md");
  line-height: 1.3;
  font-variant: small-caps;
  margin-bottom: 20px;
}
.product-type {
  font-variant: small-caps;
  color: var.$secondaryTextColor;
  margin-bottom: 10px;
}
.product-details {
  font-variant: small-caps;
  color: var.$secondaryTextColor;
  margin-bottom: 17px;
}
.price {
  font-weight: func.font-weight("bold");
  font-size: func.font-sizes("md");
  line-height: 2;
  font-variant: small-caps;
  color: var.$priceTextColor;
}

//swiper style

.swiper-hotAssortment {
  position: static;
}

.swiper-button-left {
  position: absolute;
  top: 23px;
  right: 50px;
  z-index: 100;
}
.swiper-button-right {
  position: absolute;
  top: 23px;
  right: 10px;
  z-index: 100;
}

.swiper-button-left.swiper-button-disabled,
.swiper-button-right.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: auto;
}

.swiper-pagination-fraction {
  position: absolute;
  top: 16px;
  right: 88px;
  width: 60px;
  text-align: start;
  left: auto;
}
