@use "../scss/utilities/variables" as var;
@use "../scss/utilities/functions" as func;
@use "../scss/utilities/mixins" as mix;

.nav-section {
  padding-top: 12px;
  padding-bottom: 12px;
}

.nav-section-container {
    @include mix.flex(0);
    justify-content: space-between;
}

.logo {
  font-family: var.$accent-font, sans-serif;
  font-weight: func.font-weight("medium");
  font-size: func.font-sizes("lg");
  line-height: 1.7;
  letter-spacing: -0.08em;
  text-transform: uppercase;
}
.navigation {

}

.navigation-list {
    @include mix.flex(30px);
}

.navigation-list-item {
}

.navigation-text {
  font-variant: small-caps;
}

.btn-container {
    @include mix.flex;
}

.search-container {
  position: relative;
}

.input-search {
  border-radius: 15px;
  min-width: 282px;
  height: 40px;
  background-color: #e8e8e8;
  padding-left: 44px;
}

.text {
}
