// text colors
$primaryTextColor: #343434;
$secondaryTextColor: #626262;
$primaryAccentTextColor: #ffffff;
$secondaryAccentTextColor: #d9d9d9;
$priceTextColor: #4aaa4e;

// bgc colors
$primaryBgcColor: #ffffff;
$secondaryBgcColor: #343434;

//fonts
$main-font: "Roboto";

//map
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

$font-sizes: (
  "xs": 12px,
  "sm": 16px,
  "md": 18px,
  "lg": 24px,
  "xl": 28px,
  "xxl": 40px,
  "xxxl": 48px,
);
