// text colors
$primaryTextColor: #343434;
$secondaryTextColor: #626262;
$primaryAccentTextColor: #ffffff;
$secondaryAccentTextColor: #d9d9d9;
$priceTextColor: #4aaa4e;
$totalBlackText: #000;

// bgc colors
$primaryBgcColor: #ffffff;
$secondaryBgcColor: #343434;
$accentBgcColor: #000;

//accentColor
$lightGreyColor: #959595;

//fonts
$main-font: "Roboto";
$secondary-font: "Inter";
$accent-font: "Montserrat";

//map
$font-weights: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

$font-sizes: (
  "xs": 12px,
  "sm": 16px,
  "md": 20px,
  "lg": 26px,
  "xl": 38px,
  "xxl": 40px,
  "xxxl": 64px,
);
