$primaryTextColor: #121417;
$secondaryTextColor: #8a8a89;
$primaryYellowColor: rgb(244, 197, 80);

$main-font: "Roboto";

$primary-yellow-hover-color: #fbe9ba;
$primary-green-hover-color: #cbded3;
$primary-blue-hover-color: #bfd6ea;
$primary-red-hover-color: #f2c0bd;
$primary-orange-hover-color: #f4c8ba;

$color: (
  "yell": rgb(244, 197, 80),
  "grn": #9fbaae,
  "bl": #9fb7ce,
  "rd": #e0a39a,
  "org": #f0aa8d,
);

//map 
$breakpoints: (
  "sm": 375px,
  "md": 768px,
  "lg": 1200px,
  "xl": 1440px,
  "xxl": 1920px,
);

$paddings: (
  "modal": 64px,
  "container": 0 64px,
);

$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

$font-sizes: (
  "xs": 14px,
  "sm": 16px,
  "md": 18px,
  "lg": 24px,
  "xl": 28px,
  "xxl": 40px,
  "xxxl": 48px,
);
