@use "../utilities/variables" as var;
@use "../utilities/mixins" as mix;
@use "../utilities/functions" as func;
@use "sass:map";
@use "sass:list";

body {
  font-family: var.$main-font;
  font-weight: func.font-weight("regular");
  font-size: func.font-sizes("sm");
  color: var.$primaryTextColor;
  background-color: var.$primaryBgcColor;
}

.container{
    margin-right: auto;
    margin-left: auto;
   max-width: 1170px; 
}
